* {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgage { 
    display: flex;
    width: 16rem;
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    
}

.Container-2-white {
    display: flex;
    max-width: 310px;
    border-radius: 20px;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.Container-2-white h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width:85%;
    background-color: white;
    text-align: center;

}

.Container-2-white p {
    
    background-color: white;
    font-weight: 700;
    color: rgb(149, 153, 153);
    width: 85%;
    text-align: center;
    font-size: 1rem;
}

@media screen and (max-width: 375px){
   

    .imgage { 
        max-width: 190px;
    }
    .Container-2-white {
        max-width: 220px;
    }
    .Container-2-white h2 {
        font-size: medium;
    }
    .Container-2-white p {
        font-size: medium;
    }

        
}